.Rproj.user
.Rhistory
.RData
.Ruserdata

mar.Rproj

.DS_Store
.lintr
docs/
test/*
tests/yeaman
tests/testthat/testdata/*.rds
tests/testthat/testdata/*.rda
tests/testthat/testdata/1001g
tests/testthat/testdata/bost
tests/testthat/testdata/fileparser
tests/testthat/MARPIPELINE
*.pdf
*.png
*.jpg
tmpobjects
ARCHIVE
marlogo*

data-raw/*
!data-raw/gm1001g*
inst/doc
